aside{
  width: 30%;
  height: 100vh;
  display: inline-block;
  background-color: grey;
  border: 3px solid black;
}

section{
  border: 3px solid black;
  width: 69%;
  height: 100vh;
  float: right;
  background-color:lightgrey;
}

.promo{
  width: 60%;
  margin-left:20%;

}
.start{
  display:none;
}

.username{
  width: 30%;
  text-align: center;
  margin-top: 10%;
  margin-left: 34%;
}

h3, .results{
  text-align: center;
}

h2{
  display:none;
  text-align:center;
}

.yourPick{
  width: 60%;
  height: 200px;
  display:none;
  margin-top: 10%;
  margin-left:15%;
}
.playbuttons{
  margin-top: 20%;
  display: none;
}

.computer, .paper, .scissors, .rock{
  width: 60%;
  margin-left: 15%;
  display: block;
  margin-top: 5%;
}
.display{
  width: 60%;
  margin-left: 20%;
  height: 300px;
  display:none;
}

.active{
  display: block;
}
